img {
    display: block;
    margin: 0 auto;
}

header {
    margin-left: 500px;
    font-size: 50px;
    font-style: oblique;
    font-family: Courier New;
}

body {
    height: 2000;
    width: 1200;
    background-color: #003d80;
    position: relative;
}

canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    border: 8px solid white;
    border-radius: 4px;
}

#controls {
    text-align: center;
    font-size: 30px;
    font-family: Courier New;
    font-style: oblique;
}

#canvas {
    background: url(images/lightning.gif), url(images/background.png);
    z-index: 0;
}

#canvas2 {
    z-index: 1;
    pointer-events: none;
}